@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$color-1: #595241;
$color-2: #B8AE9C;
$color-3: #FFFFFF;
$color-4: #ACCFCC;
$color-5: #8A0917;


* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background: $color-2;
}

.nav{
  background: $color-4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 3vh;
  // padding: 0.5vw;
  *{
    display: inline-block;
  }
  span{
    font-size: 3vw;
    color: darkblue;
  }
}
