@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "nav.scss";
@import "home.scss";


$color-1: #595241;
$color-2: #B8AE9C;
$color-3: #FFFFFF;
$color-4: #ACCFCC;
$color-5: #8A0917;


* {
  box-sizing: border-box;
}

body{
  // padding-top: 5vh;
  margin-top: 100px;
  margin: 0;
  padding: 0;
  background: $color-2;
}
